    - name: Build Dylib
      run: |
        PROJECT_FILE=$(ls -d *.xcodeproj | head -n 1)
        TARGET_NAME=$(xcodebuild -list -project "$PROJECT_FILE" | awk '/Targets:/ {found=1; next} found && /^[[:space:]]+[^[:space:]]/ {print $1; exit}' | sed 's/^[[:space:]]*//;s/[[:space:]]*$//')

        xcodebuild -project "$PROJECT_FILE" \
                   -target "$TARGET_NAME" \
                   -configuration Release \
                   -sdk iphoneos \
                   ARCHS="arm64" \
                   clean build \
                   CODE_SIGNING_ALLOWED=NO \
                   OTHER_CFLAGS="-fobjc-arc -I./include" \
                   OTHER_LDFLAGS="-L./lib -lBaseGetter -lc++ -lobjc \
                   -framework UIKit -framework Foundation -framework Metal \
                   -framework MetalKit -framework QuartzCore -framework AVFoundation \
                   -framework GameController -framework CoreLocation -framework Security"
