name: "XO-VIP-ULTIMATE-BUILD"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 'latest-stable'

    - name: Build Dylib
      run: |
        PROJECT_FILE=$(ls -d *.xcodeproj | head -n 1)
        TARGET_NAME=$(xcodebuild -list -project "$PROJECT_FILE" | awk '/Targets:/ {found=1; next} found && /^[[:space:]]+[^[:space:]]/ {print $1; exit}' | sed 's/^[[:space:]]*//;s/[[:space:]]*$//')

        xcodebuild -project "$PROJECT_FILE" \
                   -target "$TARGET_NAME" \
                   -configuration Release \
                   -sdk iphoneos \
                   ARCHS="arm64" \
                   clean build \
                   CODE_SIGNING_ALLOWED=NO \
                   CLANG_ENABLE_MODULES=YES \
                   OTHER_CFLAGS="-fobjc-arc -I$(pwd)/include -O3" \
                   OTHER_LDFLAGS="-L$(pwd)/lib -lBaseGetter -ldobby -lc++ -lobjc \
                   -framework UIKit -framework Foundation -framework CoreFoundation \
                   -framework Metal -framework MetalKit -framework MetalPerformanceShaders \
                   -framework QuartzCore -framework CoreGraphics -framework AVFoundation \
                   -framework GameController -framework GameKit -framework CloudKit \
                   -framework DeviceCheck -framework CoreLocation -framework CoreTelephony \
                   -framework Speech -framework Security"

    - name: Upload Artifact
      uses: upload-artifact@v4
      with:
        name: XO-VIP-Dylib
        path: build/Release-iphoneos/*.dylib
